<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= og.description %>" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/darkly/bootstrap.min.css"
    integrity="sha256-MwJT4aoRf8awkXH2gl6jjykb0GW7x7QeffW2n4608a0=" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"
    integrity="sha256-Xt8pc4G0CdcRvI0nZ2lRpZ4VHng0EoUDMlGcBSQ9HiQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    document.slash_item_tools = {
      chars: "<%- chars %>",
      charsData: <%- JSON.stringify(data) %>
    }
  </script>
</head>

<body>
  <div id="app" class="container">

    <form id="form" class="mt-3 container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="input-group">
            <input type="text" name="chars" id="chars" class="form-control" placeholder="Enter your character names here" v-model="chars" />
            <input type="text" style="position:absolute; top:-1000px" id="clipboard" />
            <span class="input-group-btn">
              <button class="btn btn-default btn-primary" type="button" v-on:click="fetchAndHandlerCharData">Go!</button>
              <button class="btn btn-default btn-primary" id="copy" type="button" data-content="Link Copied to Clipboard" v-on:click="copyToClipboard">Share</button>
            </span>
          </div>
        </div>
      </div>
    </form>

    <div v-if="charsData">
      <div class="mt-3 alert alert-danger" role="alert" v-if="errors">
        Error retreiving data for: {{ errors }}
      </div>
      <ul class="mt-3 nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#items" role="tab">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#runewords" role="tab">Available Runewords</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#crafts" role="tab">Available Crafts</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#cube-recipes" role="tab">Available Cube Recipes</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#links" role="tab">Armory Links</a>
        </li>
      </ul>
      <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="items" role="tabpanel">
          <div v-for="group in allItemsGroupedByQuality">
            <div class="item-wrapper quality" v-bind:class="[group.quality, item.ethereal ? 'ethereal' : '']" v-for="item in group.items">
              <span class="item" data-toggle="popover" data-html="true" v-bind:data-content="item | stats">{{ item | itemName }}</span>
            </div>
          </div>
          <div class="item-wrapper quality _0" v-for="item in allStacks">
            <span class="item" data-toggle="popover" data-html="true" v-bind:data-content="item | stats">{{ item.count }}x {{ item | itemName }}</span>
          </div>
        </div>
        <div class="tab-pane fade" id="runewords" role="tabpanel">
          <div class="alert alert-warning" role="alert"  v-if="!availableRunewords.length">
            No Runewords can be made with your current runes.
          </div>
          <div>
            <span class="badge badge-secondary m-2" v-for="rune in allRunes">
              {{ rune.count }}x {{ rune | itemName }}
            </span>
          </div>
          <div v-for="runeword in availableRunewords">
            <span>{{ runeword.count }}x <a v-bind:href="runeword | runewordLink" target="_blank">{{ runeword.name }}</a></span> - {{ runeword.runes }}
          </div>
        </div>
        <div class="tab-pane fade" id="crafts" role="tabpanel">
          <span class="badge badge-secondary m-2" v-for="rune in allRunes">
            {{ rune.count }}x {{ rune | itemName }}
          </span>
          <span class="badge badge-secondary m-2" v-for="gem in allGems">
            {{ gem.count }}x {{ gem | itemName }}
          </span>
          <span class="badge badge-secondary m-2" v-if="allJewels.length > 0">
            {{ allJewels.length }}x Jewel(s)
          </span>
          <div v-for="craft in availableCrafts">
            <span>{{ craft.count }}x {{ craft.name }} - {{ craft.recipe }}</span>
          </div>
        </div>
        <div class="tab-pane fade" id="cube-recipes" role="tabpanel">
          <span class="badge badge-secondary m-2" v-for="rune in allRunes">
            {{ rune.count }}x {{ rune | itemName }}
          </span>
          <span class="badge badge-secondary m-2" v-for="gem in allGems">
            {{ gem.count }}x {{ gem | itemName }}
          </span>
          <span class="badge badge-secondary m-2" v-if="allJewels.length > 0">
            {{ allJewels.length }}x Jewel(s)
          </span>
          <div v-for="cubeRecipe in availableCubeRecipes">
            <span>{{ cubeRecipe.count }}x {{ cubeRecipe.name }} - {{ cubeRecipe.recipe }}</span>
          </div>
        </div>
        <div class="tab-pane fade" id="links" role="tabpanel">
          <ul v-for="charData in charsData">
            <li><a v-bind:href="charData | armoryLink" target="_blank">{{charData.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/runewords.js"></script>
  <script src="/js/crafts.js"></script>
  <script src="/js/cube.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>